@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:600&display=swap");

.Body-1 {
  display: grid;
  grid-template-columns: auto minmax(auto, 300px) minmax(auto, 600px) auto;
  grid-template-areas: " . portrait text . ";
  height: 300px;
  align-items: center;
  justify-items: center;
}

.Body-1-picture {
  width: 15em;
  height: 15em;
  grid-area: portrait;
  padding-top: 60px;
}

.Body-1-text-section {
  grid-area: text;
  display: flex;
  flex-direction: column;
}

.Body-title {
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  color: #3a7197;
  font-size: 1.2em;
}

.Body-1-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  color: #4e9ed4;
}

.Body-2 {
  height: 300px;
  display: grid;
  grid-template-columns: auto minmax(auto, 300px) minmax(auto, 600px) auto;
  grid-template-areas: " . interests skills . ";
  align-items: flex-start;
}

.Body-2-interests {
  padding-top: 20px;
  display: grid;
  flex-direction: column;
  justify-items: center;
}

.Body-2-interests-text {
  padding-top: 1px;
  font-family: "Roboto", sans-serif;
  color: #4e9ed4;
  font-size: 0.8em;
}

.Body-2-icons {
  padding-top: 13px;
  width: 4em;
  height: 4em;
}

.Body-2-skills {
  display: flex;
  flex-direction: column;
}
.Body-2-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Body-2-card {
  border: 0.3rem outset #c9bb36;
  border-radius: 12px;
  margin: 5px 10px 5px 0px;
  height: 190px;
  width: 170px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.Body-2-cardtitle {
  font-family: "Nunito", sans-serif;
  color: #3f5a6f;
  font-size: 1.2em;
  align-self: center;
  text-decoration: bold;
}

.Body-2-cardtext {
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  color: #3f5a6f;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.flippy-container {
  margin: 5px 10px 5px 0px;
  height: 210px;
  width: 185px;
  display: flex;
  flex-direction: column;
}

.flippy-front {
  background-color: #41669d;
  border: 0.3rem outset #c9bb36;
  border-radius: 12px;
}

.flippy-back {
  background-color: #175852;
  border: 0.3rem outset #c9bb36;
  border-radius: 12px;
}
