@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.Body-1 {
    height: 300px;
    display: flex;
    flex-direction: row;
}

.Body-1-picture {
    background-color: red;
    width: 40%;
} 

.Body-1-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #4E9ED4;
    width: 60%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 60px;
}